name: Tests
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - '**'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: imagemagick cargo parallel
          version: 1.0
      - name: Install typos-cli from crates.io
        uses: baptiste0928/cargo-install@v2.2.0
        with:
          crate: typos-cli
      - name: Install just from crates.io
        uses: baptiste0928/cargo-install@v2.2.0
        with:
          crate: just
      - name: Install typst-test from github
        uses: baptiste0928/cargo-install@v2.2.0
        with:
          crate: typst-test
          git: https://github.com/tingerrr/typst-test.git
          tag: ci-semi-stable
      - uses: yusancky/setup-typst@v2
        id: setup-typst
        with:
          version: 'v0.11.0'
      - run: |
          just install @local
          just install @preview
          just manual
          just test
